{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/icons8.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
    </style>
</head>
<body>
<header>
    <h1><a href='/'>Forum</a></h1>
</header>
<nav>
    <div>
        <a class="navbutton" href="/">Home</a>
        {{if .User}}
        <a class="navbutton" href="/post/create">Create Post</a>
        <a class="navbutton" href="/likeposts">Liked Posts</a>
        {{end}}
    </div>
    <div>
        {{if .User}}
        <a class="navbutton" href="/myposts">My Posts</a>
        <form action="/logout" method="POST">
            <button type="submit">Signout</button>
        </form>
        {{else}}
        <a class="navbutton" href="/register">Signup</a>
        <a class="navbutton" href="/signin">Signin</a>
        {{end}}
    </div>
</nav>
{{end}}