<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/icons8.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
    </style>
</head>
<body>
<header>
    <h1><a href='/post/'>Forum</a></h1>
</header>
<nav>
    <div>
        <a class="navbutton" href="/">Home</a>
        {{if .Session}}
        <a class="navbutton" href="/post/create">Create Post</a>
        <a class="navbutton" href="/post/get/?liked=1">Liked Posts</a>
        {{end}}
    </div>
    <div>
        {{if .Session}}
        <a class="navbutton" href="/post/myposts">My Posts</a>
        <form action="/auth/signout" method="POST">
            <button type="submit">Signout</button>
        </form>
        {{else}}
        <a class="navbutton" href="/register">Signup</a>
        <a class="navbutton" href="/signin">Signin</a>
        {{end}}
    </div>
</nav>
<section>
    <form action='/post/create' method='POST' novalidate>
        {{if .TemplatePostForm}}
        <div>
            <label class="error">{{.TemplatePostForm.PostErrors.Title}}</label>
            <label>Title:</label>
            <input type='text' name='title' value="{{.TemplatePostForm.PostDataForErr.Title}}" maxlength="50">
        </div>
        <div>
            <label class="error">{{.TemplatePostForm.PostErrors.Body}}</label>
            <label>Content:</label>
            <textarea name="body" maxlength="2000">{{.TemplatePostForm.PostDataForErr.Body}}</textarea>
        </div>
        <div>
            <label class="error">{{.TemplatePostForm.PostErrors.Category}}</label>
            <label>Category:</label>
            {{range .Categories}}
            <div class="ctg">
                <input type="checkbox" name="categories" value="{{.Name}}">
                <label>{{.Name}}</label>
            </div>
            {{end}}
        </div>
        <div>
            <input type="submit" value="Publish post">
        </div>
        
        {{else}}
        <div>
            <label>Title:</label>
            <input type='text' name='title' value="" maxlength="50">
        </div>
        <div>

            <label>Content:</label>
            <textarea name="body" maxlength="2000"></textarea>
        </div>
        <div>
            <div>
                <label>Category:</label>
                {{range .Categories}}
                <div class="ctg">
                    <input type="checkbox" name="categories" value="{{.Name}}">
                    <label>{{.Name}}</label>
                </div>
                {{end}}
            </div>
        </div>
        <div>
            <input type="submit" value="Publish post">
        </div>

        {{end}}
    </form>
</section>
<footer>
    <p>Created by <a href="https://01.alem.school/git/yeakbay" target="_blank">yeakbay</a> and <a
            href="https://01.alem.school/git/sbakirov" target="_blank">sbakirov</a> in 2024</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>